# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build/
dist/
.eggs/

# Virtual environments
venv/
ENV/
env/
.venv/

# IDE/editor settings
.vscode/
*.code-workspace
.idea/
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Pytest cache
.pytest_cache/

# Mypy
.mypy_cache/

# Misc
*.env
*.bak
*.swp
*.tmp
